<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Github Resume project for Exozet</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p th:text="'Username: ' + ${{user.login}}" />
    <p th:text="'Users website: ' + ${{user.blog}}" />

    <p th:text="'No of Repositories ' + ${#lists.size(repos)} " />
        
	<table>
		<thead>
          <tr>
            <th >Name</th>
            <th >URL</th>
            <th >Description</th>
          </tr>
        </thead>	
        <tbody>
          <tr th:each="repo : ${repos}">
          	<td th:text="${{repo.name}}">13/01/2011</td>
          	<td th:text="${{repo.url}}">13/01/2011</td>
          	<td th:text="${{repo.description}}">13/01/2011</td>
          </tr>
        </tbody>
	</table>
</body>
</html>
