<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello1, ' + ${name} + '!'" />

    <p th:text="'No of Repositories ' + ${#lists.size(repos)} + '!'" />
    
    <p th:text="'Username ' + ${{user.login}}" />
    <p th:text="'URL ' + ${{user.blog}} + '!'" />
    
    
	<table>
		<thead>
          <tr>
            <th >xxx</th>
            <th >yyy</th>
            <th >zzz</th>
          </tr>
        </thead>	
        <tbody>
          <tr th:each="repo : ${repos}">
          	<td th:text="${{repo.name}}">13/01/2011</td>
          	<td th:text="${{repo.url}}">13/01/2011</td>
          	<td th:text="${{repo.description}}">13/01/2011</td>
          </tr>
        </tbody>
	</table>
</body>
</html>
